{# Now Article template #}
<article id="task-{{ task.uuid }}" class="h-entry h-event category-{{ task_category }}">
  <h3 title="ID {{ task.id }} UUID: {{ task.uuid }}" class="p-name">
    {% if task_category == 'ACTIVE' %}
    Working on: {{ task.project }}
    {% elseif task_category == 'CLOSED' %}
    Closed: {{ task.project }}
    {% elseif task_category == 'READY' %}
    Planned: {{ task.project }}
    {% endif %}
  </h3>
  <p class="p-summary">{{ task.description }}</p>
  {% if (task.entry is defined) or (task.start is defined) or (task.modified is defined) or (task.end is defined) or (task.due is defined) %}
  <dl class="meta">
    {% if task.entry is defined %}
    <dt>Entry</dt>
    <dd><time class="dt-published" datetime="{{ task.entry|shortDateStamp }}">{{ task.entry|longDateStamp }}</time></dd>
    {% endif %}
    {% if task.due is defined %}
    <dt>Due</dt>
    <dd><time datetime="{{ task.due|shortDateStamp }}">{{ task.due|longDateStamp }}</time></dd>
    {% endif %}
    {% if task.end is defined %}
    <dt>End</dt>
    <dd><time datetime="{{ task.end|shortDateStamp }}">{{ task.end|longDateStamp }}</time></dd>
    {% endif %}
    {% if task.start is defined %}
    <dt>Start</dt>
    <dd><time class="dt-start" datetime="{{ task.start|shortDateStamp }}">{{ task.start|longDateStamp }}</time></dd>
    {% endif %}
    {% if task.modified is defined %}
    <dt>Modified</dt>
    <dd><time class="dt-updated" datetime="{{ task.modified|shortDateStamp }}">{{ task.modified|longDateStamp }}</time></dd>
    {% endif %}
    {% if (task.annotations is defined) and (task.annotations|length > 0) %}
    <h4>Activity</h4>
    <ol class="annotations">
      {% for annotation in task.annotations|reverse %}
      <li>
        <time class="entry"
          datetime="{{ annotation.entry|shortDateStamp }}">{{ annotation.entry|shortDateStamp }}</time>
        <span class="text">
          {{ annotation.description|parseLinks }}
        </span>
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </dl>
  {% endif %}
</article>
